main form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, textarea {
    border: 2px solid black;
}

input {
    height: 40px;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

textarea {
    height: 80px;
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    transition: all 0.2s ease;
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid blue;
}

#submit {
    background-color: var(--add-btn);
    outline: none;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 17px;
    transition: all 0.2s ease;
    cursor: pointer;
}

#submit:hover {
    background-color: var(--hover-add-btn);
}