* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 3.3rem;
    background-color: aliceblue;
    color: black;
    font-size: x-large;
    background-color: #302dad;
    color: white;
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 1rem;
}


.search {
    height: 50px;
    border-radius: 10px;
}

#search-bar {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    padding: 10px;
    font-size: 15px;
    transition: all 0.3s ease;
}

#search-bar:focus{
    border: 2px solid blue;
}

.todo-container {
    height: 70vh;
    background-color: #5d8dff;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#todo-viewer {
    height: 60vh;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: white;
    padding: 4px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.add-button a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #149522;
    display: block;
    width: 130px;
    padding:10px;
    font-size: 16px;
    border-radius: 5px;
}

.task {
    border: 1px solid rgb(171, 166, 166);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%; 
}

.view-detail-btn {
    outline: none;
    border: none;
    background-color: #ffcb00;
    padding: 10px;
    border-radius: 5px;
}

.edit {
    outline: none;
    border: none;
    background-color: #ed2222;
    padding: 10px;
    border-radius: 5px;
}